<section>
  <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Collected</th>
        <td><%= Currency.collected.count %></td>
      </tr><tr>
        <th>Not Collected</th>
        <td><%= Currency.not_collected.count %></td>
      </tr>
    </table>
  </div>

  <h1>Currencies</h1>
<br/>
<br/>
<br/>
<br/>
  <div  >
  Search Currency by name:
    <%= form_tag currencies_path, id: "currencies_search" ,:method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>

  </div>

  <div id="currencies_list"><%= render "currencies" %></div>
</section>