<section>
   <div id="collect_non_collect_chart">
      <%= render "collected_non_collected_chart"  %>
  </div>

  <h1>Currencies</h1>
<br/>
<br/>
<br/>
<br/>
  <div  >
  Search Currency by name:
    <%= form_tag currencies_path, id: "currencies_search" ,:method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>

  </div>

  <div id="currencies_list"><%= render "currencies" %></div>
</section>