<div id="countries_updated_list">
  <table>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Status&nbsp;&nbsp;<input type="checkbox" class="checkall"/> Check All</th>
      <th></th>
      <th></th>
    </tr>
    <% countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.code %></td>
      <div>
        <td class="checkbox"><%= check_box_tag 'country_visited[]', country[:code], user_countries.include?(country.code)%></td>
      </div>
      <td><%= link_to 'Show', country %></td>
      <td><%= link_to 'Edit', edit_country_path(country) %></td>
      </tr>
    <% end %>
  </table>
</div>

<script type="text/javascript">
  $(function () {
    $('.checkall').on('click', function () {
      $(this).closest('div').find(':checkbox').prop('checked', this.checked);
    });
  });
</script>