<section>
  <div id="visit_non_visit_chart">
    <%= render partial: "visited_non_visited_chart",  locals: {user_countries: @user_countries} %>
  </div>

  <div id="line_chart_div" width='100px' height='10px'></div>

  <h1>Countries</h1>

  <div class="" align="center" id="ajax-loader" style="display: none">
    <%= image_tag "ajax-loader.gif" %>

  </div> 

  <br/>
  <br/>
  <br/>
  <br/>
  <div  >
    Search Country by name:
    <%= form_tag countries_path, id: "countries_search" ,:method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
  <%#= submit_tag "Search", :name => nil %>
      </p>
    <% end %>

  </div>
  <%= form_for 'Country', :url => {:action => :update_status}, :remote => true, :html => {:id => 'country_form' } do %>
    <div id="countries_list"><%= render partial: "countries", locals: {user_countries: @user_countries,countries: @countries  } %>
    </div>
    <%= submit_tag "Save" %>
  <%  end %>
</section>


      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
          <script type="text/javascript">
  alert("sddhjshjsh ");
  google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'visited', 'NonVisited'],
          ['04',  1000,      400],
          ['05',  1170,      460],
          ['06',  660,       1120],
          ['07',  1030,      540]
        ]);

        var options = {
          title: 'Company Performance'
        };

        var chart = new google.visualization.LineChart(document.getElementById('line_chart_div'));
        chart.draw(data, options);
      }
</script>