<section>
  <div id="visit_non_visit_chart">
    <%= render partial: "visited_non_visited_chart",  locals: {user_countries: @user_countries} %>
  </div>
  <div id="line_chart_div" style="width:400px;height:100px;">
    <%= render partial: "line_chart",  locals: {final_line_chart: @final_line_chart} %>
  </div>

  <h1>Countries</h1>

  <br/>
  <br/>
  <br/>
  <br/>
  <div  >
    Search Country by name:
    <%= form_tag countries_path, id: "countries_search" ,:method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search]  , autocomplete: :off %>
  <%#= submit_tag "Search", :name => nil %>
      </p>
    <% end %>

  </div>
  <%= form_for 'Country', :url => {:action => :update_status}, :remote => true, :html => {:id => 'country_form' } do %>
    <div id="countries_list"><%= render partial: "countries", locals: {user_countries: @user_countries,countries: @countries  } %>
    </div>
    <%= submit_tag "Save" %>
  <%  end %>
</section>