<section>
  <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Visited</th>
        <td><%= Country.visited.count %></td>
      </tr><tr>
        <th>Not Visited</th>
        <td><%= Country.not_visited.count %></td>
      </tr>
    </table>
  </div>

  <h1>Countries</h1>

  <br/>
<br/>
<br/>
<br/>
  <div  >
  Search Country by name:
    <%= form_tag countries_path, id: "countries_search" ,:method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>

  </div>

<div id="countries_list"><%= render "countries" %></div>
  
</section>