<section>
  <div id="visit_non_visit_chart">
    <%= render "visited_non_visited_chart"  %>
  </div>

  <h1>Countries</h1>

  <br/>
<br/>
<br/>
<br/>
  <div  >
  Search Country by name:
    <%= form_tag countries_path, id: "countries_search" ,:method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>

  </div>
<%= form_for 'Country', :url => {:action => :update_status}, :remote => true, :html => {:id => 'country_form' } do %>
<div id="countries_list"><%= render "countries" %></div>
  <%= submit_tag "Save" %>
<%  end %>
</section>